@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&display=swap" rel="stylesheet"');


.reflection-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../../../assets/sky3.jpg') ;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow-x: hidden;
    box-sizing: border-box;
}

.reflection-header {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 1rem 0;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;

}

.reflection-header h1 {
    font-size: 5rem;
    font-family: 'Caveat';
}

.reflection-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 90vw;
    background: rgba(35, 90, 152, 0.8);
    border: 0.2rem solid rgb(255, 255, 255);
    border-radius: 2rem;
    box-sizing: border-box;

}

.reflection {
    margin-bottom: 0rem;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.reflection p {
    font-size: 1.6rem;
    margin: 1.5rem 0;
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    /* padding-bottom: 2em; */

}

.reflection h2{
    font-size: 2rem;
    font-family: 'Caveat';
    text-decoration: underline;
}

.reflection h3{
    font-size: 1.8rem;
    font-family: 'Caveat';
    font-style: italic;
    
}


.buttons{
     display: flex; 
    justify-content: center;
    gap: 1rem;
}
.refl-button{
    
    background: rgb(218, 237, 255);
    border: 0.2rem solid black;
    border-radius: 0.4rem;
    padding: 1rem;
    margin: 2.5rem;
    border-radius: 8px;
    text-align: center;
    flex: 1 1 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-decoration: none; /* Remove underline from links */
    font-weight: bold;
    font-size: 2em;
    color: black; 
    display: block; 
    transition: transform 0.2s, box-shadow 0.2s; /* Add transition for hover effects */
}

.refl-button:hover{
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.5rem 0.4rem #000000, 0.5rem 0.5rem 0.5rem 0.1rem rgb(255, 255, 255);
    cursor: pointer;
    background: rgb(159, 209, 255);
}


/* Responsive Adjustments */
@media (max-width: 1500px) {
    
      
}

@media (max-width: 1200px) {
    
    .reflection-header h1 {
        font-size: 4.8rem;
    }
    
    .reflection h2{
        font-size: 2rem;
    }
    .reflection p {
        font-size: 1.6rem;
    }

   
    
}

@media (max-width: 992px) {
    .reflection-header h1 {
        font-size: 4.5rem;
    }
    
    .reflection h2{
        font-size: 1.8rem;
    }

    .reflection h3{
        font-size: 1.6rem;
    }
    .reflection p {
        font-size: 1.4rem;
    }

    
    
    .refl-button{
        font-size: 1.5rem;
    }

}

@media (max-width: 768px) {
    .reflection-header h1 {
        font-size: 4.1rem;
    }
    
    .reflection h2{
        font-size: 1.8rem;
    }
    .reflection p {
        font-size: 1.4rem;
    }

    

    .refl-button{
        font-size: 1.4rem;
        padding: 0.8rem;
    }
}

@media (max-width: 576px) {
   
    .reflection-header h1 {
        font-size: 3.7rem;
    }
    
    .reflection h2{
        font-size: 1.8rem;
    }
    .reflection p {
        font-size: 1.4rem;
    }

    

    .refl-button{
        font-size: 1.2rem;
        padding: 0.6rem;
    }
    
}

@media (max-width: 350px) {
   
    .reflection-header h1 {
        font-size: 3rem;
    }
    
    .reflection h2{
        font-size: 1.4rem;
    }

    .reflection h3{
        font-size: 1.2rem;
    }
    .reflection p {
        font-size: 0.8rem;
        padding-left: 1em;
    padding-right: 1em;
    }

   
    
    .refl-button{
        font-size: 1rem;
        padding: 0.4rem;
    }
}