@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&display=swap" rel="stylesheet"');


.home-page {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-color: #235998;
  
}



.overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(57, 124, 148, 0.4);
    top: 0;
    bottom: 0;
    z-index: 1;
    mix-blend-mode: hard-light;
    
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-bottom: 2px solid rgb(255, 255, 255);
    
}




.planeImg {
    width: 70%;
    height: auto;
    /* object-fit: cover; */
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.art-button{
    
    position: absolute;
    top: 86vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background: rgb(197, 229, 255);
    border: 0.2rem solid black;
    border-radius: 0.4rem;
    padding: 1rem;
    /* margin: 2.5rem; */
    border-radius: 8px;
    text-align: center;
    /* flex: 1 1 40%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    text-decoration: none; 
    font-weight: bold;
    font-size: 2em;
    font-family: 'Caveat';
    font-weight: 700;
    color: black; 
    display: block; 
    transition: transform 0.2s, box-shadow 0.2s; 
}

.art-button:hover{
    /* transform: translate(0.01rem, 0.01rem); */
    box-shadow: 0.5rem 0.4rem #000000, 0.5rem 0.5rem 0.5rem 0.1rem rgb(255, 255, 255);
    cursor: pointer;
    background: rgb(159, 209, 255);
}

.anim{
    position: absolute;
    top: 92vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}


.welcomeTxt{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    text-align: left;
    z-index: 2;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 75vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    /* margin-top: 10vh; */
}



.info {
    background-color: #537db1;
    width: 100%;
    text-align: center; 
    color: rgb(255, 255, 255); 
    /* margin-bottom: 5vh; */
 
  }

  .anim2{
    width: 20%;
     position: relative;
    top: 0vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;

}

  .info h1{
    font-size: 2.7rem; 
    /* text-decoration: underline; */
    margin-top: 1vh;
    font-family: 'Caveat';
    font-optical-sizing: auto;
    font-weight: 700;
  }
  
  .info h2{
    font-size: 2.7rem; 
    font-family: 'Caveat';
    font-optical-sizing: auto;
    font-weight: 600;
    /* text-decoration: underline; */
    margin-top: 1vh;
  }
  
  .info p{
    font-size: 1.7rem; 
    margin: 20px 0;
    margin-bottom: 5vh;
   background-color: #cacaca22;
   padding: 15px;
   border-radius: 25px;
   border: 1px solid white;
   

   
  }
 
  


  .did-you-know{
    background-color: #537db1;
    width: 100%;
    color: rgb(255, 255, 255); 
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 20px;
    /* margin-bottom: 5vh;
    margin-top: 5vh; */
  }

  .duk-content{
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: left;
  }

  .duk-video{
    max-width: 20%; 
  height: auto;
  margin-right: 20px;
  margin-left: 10vw;
  border-bottom: 0;
  margin-top: 5vh;
  margin-bottom: 5vh;

  }

  .duk-text{
    flex:1;
    margin-left: 5vw;
  }
  .did-you-know h3{
    font-size: 2rem; 
    text-decoration: underline;
    margin-top: 7vh;
    font-family: 'Caveat';
    font-optical-sizing: auto;
    font-weight: 600;
  }

  
  .did-you-know p{
    font-size: 1.7rem; 
    
  }

  .p-end{
    margin-bottom: 7vh;
  }
  
  .did-you-know span{
    color: rgb(255, 255, 255); 
    font-weight: bold;  
  }

  .slider-section{
    /* background-color: #5c88b9; */
    width: 100%;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
  }

.link-boxes {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-top: 2rem; Adjusted margin-top */
    margin-bottom: 7rem;
    margin-top: 7rem;
    /* width: 80%; */
    z-index: 100;
}

.link-box {
    background: rgb(218, 237, 255);
    border: 0.2rem solid black;
    border-radius: 0.4rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    text-align: center;
    flex: 1 1 calc(25% - 2rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Ensure text color is inherited */
    display: block; /* Make the link a block element */
    transition: transform 0.2s, box-shadow 0.2s; /* Add transition for hover effects */
}

.link-box:hover {
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.5rem 0.4rem #000000, 0.5rem 0.5rem 0.5rem 0.1rem rgb(255, 255, 255);
    cursor: pointer;
    background: rgb(159, 209, 255);
}

.link-box img {
    width: 100%;
    height: auto;
    background: #235998;
    border: 0.2rem solid black;
    border-radius: 0.4rem;
}

.link-box h2 {
    font-size: 2rem;
    margin: 1rem 0 0.5rem;
    color: #000000;
    text-decoration: underline;
    font-family: 'Caveat';
}

.link-box p {
    font-size: 1rem;
    color: #000000;
}



/* Responsive Adjustments */
@media (max-width: 1500px) {
    

    .planeImg {
        width: 70%;
    }

    video{
        height: 100vh;
    }

    .overlay{
        height: 100vh;
    }

    .link-box {
        flex: 1 1 calc(33% - 2rem);
    }

    
    
      .duk-text{
        flex:1;
        margin-left: 2vw;
      }
      
}

@media (max-width: 1200px) {
    

    .planeImg {
        width: 70%;
        top: 20vh;
    }

    .art-button{
        /* top: 70vh; */
        font-size: 1.5rem;
        padding: 0.7em;
    }

    video{
        height: 100vh;
    }

    .overlay{
        height: 100vh;
    }

    .info h1{
        font-size: 2.5rem; 
      }
      
      .info h2{
        font-size: 2.5rem; 
      }
      
      .info p{
        font-size: 1.5rem; 
      }
     

    .link-box {
        flex: 1 1 calc(33% - 2rem);
    }

    .anim2{
        width: 35%;
    }
}

@media (max-width: 992px) {
  

    .planeImg {
        width: 70%;
        top: 20vh;
    }

    .art-button{
        top: 70vh;
        font-size: 1.3rem;
        padding: 0.5em;
    }

    .anim{
        top: 75vh;
    }
    video{
        height: 80vh;
    }

    .overlay{
        height: 80vh;
    }

    .welcomeTxt{
        font-size: 1.6rem;
    }

    .link-box {
        flex: 1 1 calc(50% - 2rem);
    }

    .duk-video{
        max-width: 30%; 
      height: auto;
      margin-right: 20px;
      margin-left: 10vw;
      border-bottom: 0;
    
      }
    
      .duk-text{
        flex:1;
        margin-left: 3vw;
      }
      .did-you-know h3{
        font-size: 1.8rem; 
        text-decoration: underline;
        margin-top: 7vh;
      }
    
      
      .did-you-know p{
        font-size: 1.5rem; 
        
      }

      .anim2{
        width: 40%;
    }
}

@media (max-width: 768px) {
   

    .planeImg {
        width: 80%;
        top: 10vh;
    }

    .art-button{
        top: 60vh;
        font-size: 1.2rem;
        padding: 0.5em;
    }

    .anim{
        top: 64vh;
    }
    video{
        height: 70vh;
    }
    .overlay{
        height: 70vh;
    }

    .info h1{
        font-size: 2.2rem; 
      }
      
      .info h2{
        font-size: 2.2rem; 
      }
      
      .info p{
        font-size: 1.3rem; 
      }
     

    .link-box {
        flex: 1 1 100%;
    }

    .duk-video{
        max-width: 35%; 
      height: auto;
      margin-right: 20px;
      margin-left: 10vw;
      border-bottom: 0;
    
      }
    
      .duk-text{
        flex:1;
        margin-left: 1vw;
      }
      .did-you-know h3{
        font-size: 1.6rem; 
        text-decoration: underline;
        margin-top: 7vh;
      }
    
      
      .did-you-know p{
        font-size: 1.3rem; 
        
      }

      .anim2{
        width: 45%;
    }
}

@media (max-width: 576px) {
   

    .planeImg {
        width: 90%;
        top: 10vh;
    }

    .art-button{
        top: 52vh;
        font-size: 1rem;
        padding: 0.3em;
    }

    .anim{
        top: 54vh;
    }
    video{
        height: 60vh;
    }
    .overlay{
        height: 60vh;
    }

    .info h1{
        font-size: 2rem; 
      }
      
      .info h2{
        font-size: 2rem; 
      }
      
      .info p{
        font-size: 1.1rem; 
      }

    .link-box {
        flex: 1 1 100%;
    }

    .duk-video{
        max-width: 38%; 
      height: auto;
      margin-right: 20px;
      margin-left: 10vw;
      border-bottom: 0;
    
      }
    
      .duk-text{
        flex:1;
        margin-left: 1vw;
      }
      .did-you-know h3{
        font-size: 1.4rem; 
        text-decoration: underline;
        margin-top: 7vh;
      }
    
      
      .did-you-know p{
        font-size: 1.1rem; 
        
      }

      .anim2{
        width: 50%;
    }
}

@media (max-width: 350px) {
   

    .planeImg {
        width: 90%;
        top: 15vh;
    }

    .art-button{
        top: 40vh;
        font-size: 0.8rem;
        padding: 0.2em;
    }

    .anim{
        top: 43vh;
    }
    video{
        height: 50vh;
    }
    .overlay{
        height: 50vh;
    }

    .info h1{
        font-size: 1.8rem; 
      }
      
      .info h2{
        font-size: 1.8rem; 
      }
      
      .info p{
        font-size: 0.9rem; 
      }
   
    .link-box {
        flex: 1 1 100%;
    }

    .duk-video{
        max-width: 40%; 
      height: auto;
      margin-right: 20px;
      margin-left: 10vw;
      border-bottom: 0;
    
      }
    
      .duk-text{
        flex:1;
      }
      .did-you-know h3{
        font-size: 1.1rem; 
        text-decoration: underline;
        margin-top: 7vh;
      }
    
      
      .did-you-know p{
        font-size: 0.8rem; 
        
      }

      .anim2{
        width: 55%;
    }
}